@import '../../../assets/scss/placeholders';

.officer-details {
  @extend %primary-background-color;
  @extend %dark-border;
  @extend %light-box-shadow;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin: 0 auto;
  width: 20em;
  margin-bottom: 10px;
  padding: 0.6em 0.6em;
  color: white;
  border-radius: 15px;

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 0.2em;
  }

  &__jewel {
    padding-right: 0.6em;
    margin-left: -1.8em;
    z-index: 1;

    & > img {
      //   @extend %light-border;
      box-shadow: 0 0 0 1px white, 0 0 0 3px black, 2px 2px 4px 3px $medium-shadow;
      height: 40px;
      width: 40px;
      border-radius: 6px;
      object-fit: cover;
      object-position: bottom center;
    }
  }

  &__name {
    @extend %text-shadow;
    font-size: 20px;
    padding-bottom: 0.1em;
  }

  &__role {
    @extend %text-shadow;
  }

  &__profile {
    & > img {
      @extend %dark-border;
      @extend %medium-box-shadow;
      height: 100px;
      width: 100px;
      border-radius: 50%;
      object-fit: cover;
      object-position: center center;
    }
  }
}
