@import '../../../assets/scss/placeholders';

.officer-details {
  @extend %light-box-shadow;
  @extend %shadow-overlay-gradient;
  background-color: $knights-blue;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1.2em;
  width: 18em;
  padding-top: 0.4em;
  border-radius: 15px 15px 0 0;

  &__profile {
    @extend %knights-box-shadow;
    border-radius: 50% 50% 0 0;
    display: flex;
    align-items: center;
    z-index: 1;

    & > img {
      height: 150px;
      width: 150px;
      border-radius: 50% 50% 0 0;
      object-fit: cover;
      object-position: center center;
    }
  }

  &__footer {
    position: relative;
    background-color: $knights-red;
    border-top: $box-shadow-width solid $knights-yellow;
    border-bottom: $box-shadow-width solid $knights-yellow;
    width: 100%;
    padding: 0.4em 0.6em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: -1.4em;
    z-index: 1;

    &::before {
      @extend %shadow-overlay-gradient;
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }

    &__details {
      @extend %text-shadow;
      display: flex;
      flex-direction: column;
      color: white;
      z-index: 2;
    }
  }

  &__jewel {
    padding-right: 0.6em;
    display: flex;
    align-items: center;
    z-index: 2;

    & > img {
      box-shadow: 0 0 0 1px $knights-blue, 0 0 0 4px $knights-yellow, 0 0 0 5px $knights-blue, 5px 5px 2px $light-shadow;
      margin: 5px;
      height: 38px;
      width: 38px;
      border-radius: 4px;
      object-fit: cover;
      object-position: bottom center;
    }
  }

  &__name {
    font-size: 20px;
    margin-bottom: 0.1em;
  }
}
