@import 'assets/scss/variables';
@import 'assets/scss/layout';
@import 'assets/scss/mixins';
@import 'assets/scss/placeholders';

@font-face {
  font-family: Gurajada;
  src: url(./assets/fonts/Gurajada-Regular.ttf);
}

html,
body {
  height: 100%;
}

body {
  font-family: Arial;
  background-color: $background-color;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
