@use 'assets/scss/colors' as *;
@use 'assets/scss/placeholders' as *;
@use 'assets/scss/variables' as *;
@use 'assets/scss/layout' as *;
@use 'assets/scss/mixins' as *;

@font-face {
  font-family: Gurajada;
  src: url(./assets/fonts/Gurajada-Regular.ttf);
}

:root {
  --spacer: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: Arial;
  background-color: var(--clr-bg);
}

body,
h1,
h2,
h3,
h4,
p
{
  margin: 0;
}

.flow-content > * + * {
  margin-top: var(--spacer);
}
