@use 'assets/scss/colors' as *;
@use 'assets/scss/placeholders' as *;
@use 'assets/scss/variables' as *;
@use 'assets/scss/layout' as *;
@use 'assets/scss/mixins' as *;

@font-face {
  font-family: Gurajada;
  src: url(./assets/fonts/Gurajada-Regular.ttf);
}

html,
body {
  height: 100%;
}

body {
  font-family: Arial;
  background-color: $background-color;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
