@import '../../../assets/scss/placeholders';

.spacer {
  flex: 1 1 100%;
}

.mat-toolbar {
  height: 2.5em;
}

.kofc-logo {
  position: relative;
  display: flex;
  align-items: center;

  &::before {
    content: '';
    margin-right: 1em;
    display: inline-block;
    background-image: url('../../../assets/images/3rddegree-transparent.png');
    background-size: cover;
    margin-right: 0.6em;
    height: 2em;
    width: 2em;
  }
}
